.visible{
    font-family: "Open-Sans", "Oswald";
}

h1{
    background-color: #004175;
    padding: 10px;
    border-bottom: 2px solid #89DEEF;
    color: white; 

}
ul,li{
    list-style:none;
}

.adoptnow{
    display:flex;
    background-color:pink;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.box ul li{
    border-radius: 5em;
    background-color:#89DEEF;
    margin: 0 3px 3px;
}
/* .adoptnowb{
    display:flex;
    background-color:blue; */
    
/* } */

/* .adoptnowc{
    display:flex;
    background-color:aquamarine; */
    
/* } */
/* .box1{
    justify-content:space-between;
    padding:5px;
}

.box2{
    justify-content:space-between;
    padding:5px;
}

.box3{
    justify-content:space-between;
    padding:5px;
}

.box4{
    justify-content:space-between;
    padding:5px;
}

.box5{
    justify-content:space-between;
    padding:5px;
}
.box6{
    justify-content:space-between;
    padding:5px;
}

.box7{
    justify-content:space-between;
    padding:5px;
}

.box8{
    justify-content:space-between;
    padding:5px;
}

.box9{
    justify-content:space-between;
    padding:5px;
} */