.visible{
    font-family: "Open-Sans" "Oswald" sans-serif;
}

.container{
    display: flex;
    background-color: pink;
    width: 50%;
}

h1{
    background-color: #004175;
    padding: 10px;
    border-bottom: 2px solid #89DEEF;
    color: white; 

}
ul,li{
    list-style:none;
}

.adoptnow{
    display:flex;
    background-color:pink;
}

.adoptnowb{
    display:flex;
    background-color:blue;
    
}

.adoptnowc{
    display:flex;
    background-color:aquamarine;
    
}
.box1{
    align-content:space-around;
}

.box2{
    align-content:space-around
}