
.container{
    display: flex;
    background-color: pink;
    width: 50%;
}

h1{
    background-color: #004175;
    padding: 10px;
    border-bottom: 2px solid #89DEEF;
    color: white; 

}
ul,li{
    list-style:none;
}

.adoptnow{
    display:flex;
    background-color:pink;
    width: 30%;
}

.adoptnowb{
    display:flex;
    background-color:blue;
}